.container_navbar {
    width: 100%;
}

.container_navbar_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    margin: 1% 10% 1% 10%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.container_avatar_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}